
body {
    /* background-color: #faf9f9; */
    margin: 0;
    height: 100vh;
    color: #eee;
    /* background-image: url("background.jpg"); */
    
    background: 
        linear-gradient(
            rgba(0, 0, 0, 0.5), 
            rgba(0, 0, 0, 0.8)
        ),
        /* bottom, image */
        url(background.jpg);
}

.content-body {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: min-content;
    transform: translate(-50%, -50%);
}

.title {
    font-family: 'Abril Fatface', serif;
    color: #ffdca8;
    font-size: 3em;
    margin: 0;
    padding: 5px;
    position: absolute;
    transform: translateY(-100%);
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.canvas-wrapper {
    position: relative;
}

.canvas-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

#canvas {
    margin: 0;
    box-shadow: 5px 5px 20px #0008;
    border-radius: 4px;
}

html, body {
    overflow: hidden;
}
body {
    position: relative;
}
