#canvas {
    margin: 0;
    box-shadow: 5px 5px 20px #0008;
    border-radius: 4px;
}

html, body {
    overflow: hidden;
}
body {
    position: relative;
}

body {
    margin: 0;
    height: 100vh;
    color: #eee;
    
    background: 
        linear-gradient(
            rgba(0, 0, 0, 0.5), 
            rgba(0, 0, 0, 0.8)
        ),
        /* bottom, image */
        url('assets/background.jpg');
}

.content-body {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: min-content;
    transform: translate(-50%, -50%);
}

.title {
    font-family: 'Abril Fatface', serif;
    color: #ffd493;
    font-size: 3em;
    margin: 0;
    padding: 5px;
    position: absolute;
    transform: translateY(-100%);

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.canvas-wrapper {
    position: relative;
    
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.canvas-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    font-family: 'Coda', sans-serif;
}

.menu-button:hover {
    text-decoration: underline;
}

#menus *[data-hidden=true] {
    display: none;
}

#menus > * {
    width: 100%;
    position: absolute;
    top: 50%;
    display: block;
    transform: translateY(-50%);
}

#menus > div > * {
    text-shadow: 0 0 8px #000;
    border: 5px solid white;
    border-radius: 4px;
    backdrop-filter: contrast(.6) blur(16px);
    box-shadow: 5px 5px 20px #0008;
}

.menu-button {
    cursor: pointer;
    background: none;
    padding: 10px 15px;
    color: inherit;
    font-size: 2em;
    font-family: inherit;
    display: block;
    margin: 20px auto;
}

.tutorial-info {
    display: block;
    margin: 0 auto;
    padding: 10px;
    width: 80%;
    backdrop-filter: contrast(.4);
}

.tutorial-info h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2em;
    text-decoration: underline;
}

.tutorial-info p {
    font-size: 1.3em;
}

.score-info {
    display: block;
    margin: 0 auto;
    padding: 10px;
    width: max-content;
    backdrop-filter: contrast(.4);
}

.score-info h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2em;
    text-decoration: underline;
}

.score-info p {
    font-size: 1.3em;
}

.scoreboard-title {
    margin-bottom: 0;
    font-size: 1.5em;
    text-decoration: underline;
}

.scoreboard-wrapper {
    max-height: 300px;
    overflow-y: auto;
    border: 3px solid white;
}

.scoreboard {
    width: 100%;
    /* border-spacing: 1; */
    border-collapse: collapse; 
    text-align: center;
    font-size: large;
}

.scoreboard tr > *:nth-child(1) { 
    width: 50px;
    max-width: 50px;
}

.scoreboard tr > *:nth-child(2) { 
    width: 150px;
    max-width: 150px;
}

.scoreboard tr > *:nth-child(3) { 
    width: 150px;
    max-width: 150px;
}

.scoreboard tr > * {
    text-overflow: ellipsis;
    overflow: hidden;
    border: 2px solid #cacaca;
}

.scoreboard tr:nth-child(odd) {
    background-color: #47853b;
}

.scoreboard tr:nth-child(even) {
    background-color: #55b145;
}

.sign-in-wrapper {
    display: flex;
}

.sign-in-wrapper > * {
    display: inline-block;
    align-self: center;
    margin: 0 10px 0 0;
}

.google-sign-in {
    width: max-content;
    text-shadow: none;
    cursor: pointer;
    border: none;
    border-radius: 100px;
    padding: 5px 10px;
    color: #333;
    vertical-align: middle;
    background-color: #eee;
    font-size: 1em;
    font-family: "Roboto", sans-serif;
}

.google-sign-in svg {
    display: inline-block;
    height: 1em;
    margin-right: 5px;
}