#canvas {
    margin: 0;
    box-shadow: 5px 5px 20px #0008;
    border-radius: 4px;
}

html, body {
    overflow: hidden;
}
body {
    position: relative;
}

body {
    margin: 0;
    height: 100vh;
    color: #eee;
    
    background: 
        linear-gradient(
            rgba(0, 0, 0, 0.5), 
            rgba(0, 0, 0, 0.8)
        ),
        /* bottom, image */
        url(background.jpg);
}

.content-body {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: min-content;
    transform: translate(-50%, -50%);
}

.title {
    font-family: 'Abril Fatface', serif;
    color: #ffd493;
    font-size: 3em;
    margin: 0;
    padding: 5px;
    position: absolute;
    transform: translateY(-100%);

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.canvas-wrapper {
    position: relative;
    
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.canvas-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.canvas-overlay button {
    cursor: pointer;
    background: none;
    padding: 10px 15px;
    color: inherit;
    border: none;
    font-size: 2em;
    font-family: 'Coda', sans-serif;
    text-shadow: 0 0 8px #000;
    border: 5px solid white;
    backdrop-filter: contrast(.8) blur(16px);
}

.canvas-overlay button:hover {
    text-decoration: underline;
}

.title-menu {
    width: 100%;
    position: absolute;
    top: 50%;
    display: block;
    transform: translateY(-50%);
}

.title-menu button {
    display: block;
    margin: 20px auto;
}

