body {
  margin: 0;
}

body, html {
  height: 100%;
}

h1 {
	font-size: 10em;
	font-weight: bold;
}

h2 {
	font-size: 3em;
	font-weight: lighter;
}

.splash {
	height: 50%; 
	width: 100%; 
	z-index: -2;
}

.splash-bgd { 
	width: 100%; 
}

.splash-section {
	position: absolute;
	top: 16%;
	width: 100%;
	text-align: center;
	z-index: 1;
	color: #fff;
}

.alert {
	margin: 10px;
}

.card {
  box-shadow: 0 0 10px #ccc;
}

.card-deck {
	margin: 30px 0;
}

.card-title {
	color: #036458;
}

.about-text {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #ccc;
	text-align: left;
}

li > .about-text:hover {
  text-decoration: none;
	color: #fff;
}

.footer-copyright {
	background-color: #024b42;
	font-weight: bold;
	color: white;
}

.bg-light-green {
	background-color: #047d6e;
	color: #fff;
}

.bg-green {
	background-color: #036458;
	color: #fff;
}

.bg-dark-green {
	background-color: #024b42;
}

.btn-info {
	border-radius: 0%;
	border: 0px;
	letter-spacing: 2px;
	background-color: #047d6e;
}

.modal-header {
	border-radius: 2px;
}

.modal-body-text {
	/* position: relative; */
	padding: 10px;
	width: 47%;
	float: right;
}

.img_wrap {
	position: relative;
	width: 50%;
	float: left;
}

.img_img {
	width: 100%;
	box-shadow: 0 0 10px #aaa;
}

.img_description_layer {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(4,125,110,.4);
	color: #fff;
	visibility: hidden;
	opacity: 0;
	display: flex;
	align-items: center;
	justify-content: center;

	transition: opacity .2s, visibility .2s;
}

.img_wrap:hover .img_description_layer {
	visibility: visible;
	opacity: 1;
}

.img_description {
	transition: .2s;
	transform: translateY(1em);
}

.img_wrap:hover .img_description {
	transform: translateY(0);
}