body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23ffb03f' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23ff8926' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23ff974d' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23ff792b' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23ff835c' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23ff6931' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23ff756a' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23ff5b36' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23ff7986' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23ff4d3c' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23ff87a8' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23ff4141' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

header {
    width: min-content;
    margin: 10vh auto 5vh auto;
}

.header-title {
    width: max-content;
    font-size: 3em;
}

.container {
    width: 600px;
    margin: 0 auto;
}

/* .bg-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -100;
} */